body{
    background-color: darkgray;
}

#ps-card{
    max-width: 800px;
    height: 800px;
    border: 3px solid darkgoldenrod;
    margin: 4rem auto;
    background-color: aliceblue;
    padding: 1.5rem;
    position: relative;
}

#ps-card:hover{
    cursor: pointer;
    border: 5px solid darkgoldenrod;
    box-shadow: 20px 20px 50px darkslategray;
}

.title{
    text-align: center;
    font-size: 50px;
    margin-bottom: 2rem;
}

.ps-text{
    font-size: 30px;
}

.author{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}


